.navContainer {
  display: flex;
  flex-direction: column;
}

.topStrip {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(235, 76, 107, 1);
  display: flex;
  justify-content: space-around;
  gap: 10px;
  height: 32px;
}

.stripItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hideOnMobile {
  display: none;
}

@media (min-width: 768px) {
  .hideOnMobile {
    display: flex;
  }
}

showOnMobile {
  display: flex;
}

@media (min-width: 768px) {
  .showOnMobile {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 40px;
  }
}

.logo {
  display: flex;
  gap: 10px;
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 100%;
  line-spacing: 1px;
}

@media (min-width: 768px) {
  .logo {
    font-size: 36px;
  }
}

.iconGroup {
  display: flex;
  gap: 10px;
}

@media (min-width: 768px) {
  .iconGroup {
    gap: 24px;
  }
}

.tabs {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 64px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .tabs {
    display: flex;
  }
}
